body {
    overflow: hidden;
    background-size: cover;
    margin: 0;
}

.overlay {
    background: rgba(255, 255, 255, .5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.player {
    background-image: url('images/dino-sprites.avif');
    width: 100px;
    height: 100px;

    position: absolute;

    z-index: 999;

    /* transition: all ease-out .2s; */

    border: 1px solid red; /* debug lol */
}

.player.backward {
    transform: scaleX(-1);
}

.wall {
    position: absolute;
    white-space: nowrap;
}

.wall>div {
    display: inline-block;
    border: 1px solid white;
    height: 100%;
}

.wall>div:hover {
    border: 1px solid black;
}

.item {
    position: absolute;
    width: 100px;
    height: 100px;
}

.item img {
    width: 100%;
}
