$primary: indianred;
$secondary: gold;
$text: white;

@font-face {
    font-family: "Super Mario Bros 2";
    src: url('/fonts/SuperMarioBros2.ttf') format("truetype");
}

// utils
.text-center {
    text-align: center;
}

.content-center {
    place-content: center;
}

.primary {
    color: $primary;
}

.secondary {
    color: $secondary;
}

// structure
body {
    overflow: hidden;
    background-size: cover;
    margin: 0;
}

.overlay {
    background: rgba(255, 255, 255, .1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.game {
    font-family: 'Super Mario Bros 2';
    color: $text;
}

.top-bar {
    .ui {
        position: absolute;
        z-index: 999;
        top: 3vh;
        display: flex;
        flex-direction: column;
        place-items: center;
    }

    #score-block {
        left: 3vw;
    }

    #timer-block {
        width: 100%;
        text-align: center;

        .urgence {
            color: red;
        }
    }

    #level-block {
        right: 3vw;
    }
}

#menu-dialog {
    display: none;
    position: absolute;
    z-index: 1000;
    width: 25vw;
    left: calc(50vw - 25vw / 2);
    top: 10vh;
    background: rgba(0, 0, 0, .75);
    text-align: center;
    padding: 0 2rem;

    &.large {
        width: 30rem;
        left: calc(50vw - 30rem / 2);
    }

    h1 {
        font-size: 18px;
        color: $primary;

        .logo {
            height: 120px;
            display: flex;
            place-items: center;
            place-content: center;

            img {
                height: 100%;
            }
        }

        &+hr {
            border-color: $primary;
        }
    }

    h3 {
        font-size: inherit;
    }

    .content {
        margin: 1.5rem auto;
    }

    .commands-list {
        >div {
            margin: 10px auto;
        }
    }

    .your-score-block {
        div {
            display: flex;
            place-items: center;
            margin: 1rem auto;
        }

        label {
            width: 180px;
            display: inline-block;
            white-space: nowrap;

            &.small {
                font-size: .75rem;
            }

            &.for-checkbox {
                width: unset;
                white-space: normal;
                flex: 1;
            }
        }

        input {
            background-color: transparent;
            color: $text;
            font-family: inherit;
            border-color: $text;
            height: 30px;
            padding: 0 5px;
            width: 300px;
            border-radius: 4px;
            border-style: solid;

            &.small {
                font-size: .75rem;
            }

            &[type="checkbox"] {
                width: 20px;
            }
        }

        button {
            background: $primary;
            color: $text;
            border-radius: 5px;
            border: 1px solid $text;
            padding: 10px 30px;
            font-family: inherit;
            cursor: pointer;
        }
    }

    #highscore-table {
        border-color: $primary;
        color: $text;
        width: 100%;
        text-align: center;

        td {
            padding: .5rem;
        }
    }

    #retry-btn {
        margin-top: 1.5rem;
        font-size: 1.5rem;
        cursor: pointer;
    }
}

.player {
    /* background-image: url('images/dino-sprites.avif'); */
    width: 80px;
    height: 80px;

    position: absolute;

    z-index: 999;

    /* transition: all ease-out .2s; */

    // debug lol
    // border: 1px solid red;

    img {
        width: 100%;
        height: 100%;
    }

    &.crouch {
        width: 85px;
        height: 60px;
        overflow: visible;

        img {
            width: auto;
            height: auto;
        }
    }

    &.backward {
        transform: scaleX(-1);
    }
}

.wall {
    position: absolute;
    white-space: nowrap;

    >div {
        display: inline-block;
        border: 1px solid $text;
        height: 100%;

        &:hover {
            border-color: black;
        }
    }
}

.item {
    position: absolute;

    img {
        width: 100%;
    }
}

body:not(.paused) .code-coin {
    animation: 1s infinite alternate flip;
}

@keyframes flip {
    from {
        transform: rotateY(180deg);
    }

    to {
        transform: rotateY(0);
    }
}

.blink {
    animation: blinking 1s steps(5, start) infinite;
}

@keyframes blinking {
    to {
        visibility: hidden;
    }
}